.formulario {
    width: 1040px;
    background-color: rgb(178, 218, 234);
    padding: 59px 4%;
    text-align:center;
    border: auto dotted rgba(136, 207, 248, 0.699);
    border-radius: 20px;
    margin-top: 4%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
  }
  
  .input {
    border: 2px solid white;
    width: 99%;
    height: 54px;
    border-radius: 14px;
    text-align: 14px;
  }

  .acoes {
    justify-content: flex-end;
  }