<section class="container criar-pensamentos ff-inter">
    <header class="header">
        <h2>Adicione <br>um pensamento novo:</h2>
    </header>
    <form class="formulario webkit-input-placeholder">
        <label for="pensamento">Pensamento<br><br /></label>
        <input type="text" class="input" id="pensamento" name="pensamento"
            placeholder="Digite a pensamento ou fonte"><br><br />
        <label for="autoria">Autoria<br><br /></label>
        <input type="search"  class="input-text" id="autoria"
            name="autoria" placeholder="Digite a autoria ou fonte">
    </form>"
</section>